<h1>TP Chequeando datos </h1>
Crimenes CABA 2018-2022

In [28]:
#Import Libraries
import pandas as pd
import numpy as np

In [29]:
#open files 2018
df2018=pd.read_csv("delitos_2018.csv")
df2018.head()

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_arma,uso_moto,barrio,comuna,latitud,longitud,cantidad
0,500003,2018,AGOSTO,DOMINGO,2018-08-05,16.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
1,500006,2018,AGOSTO,LUNES,2018-08-06,17.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
2,500009,2018,AGOSTO,MIERCOLES,2018-08-08,22.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
3,500012,2018,AGOSTO,MIERCOLES,2018-08-08,15.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.595628,-58.386597,1
4,500015,2018,AGOSTO,VIERNES,2018-08-10,12.0,Robo,Robo total,SI,NO,RETIRO,1.0,-34.581095,-58.385790,1

In [31]:
#open files 2019
df2019=pd.read_csv("delitos_2019.csv")
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149524 entries, 0 to 149523
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id-mapa   149524 non-null  int64
 1   anio      149524 non-null  int64
 2   mes       149524 non-null  object
 3   dia       149524 non-null  object
 4   fecha     149524 non-null  object
 5   franja    149517 non-null  float64
 6   tipo      149524 non-null  object
 7   subtipo   149524 non-null  object
 8   uso_arma  149524 non-null  object
 9   uso_moto  149524 non-null  object
 10  barrio    147364 non-null  object
 11  comuna    147364 non-null  float64
 12  latitud   147367 non-null  float64
 13  longitud  147367 non-null  float64
 14  cantidad  149524 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 17.1+ MB

In [ ]:
#open files 2020
df2020=pd.read_csv("delitos_2020.csv")
df2020.info()

,id-mapa,anio,franja,comuna,latitud,longitud,cantidad
count,8.617500e+04,86175.0,85656.000000,84876.000000,84877.000000,84877.000000,86175.0
mean,4.374087e+05,2020.0,13.172317,7.314423,-34.615116,-58.435696,1.0
std,3.314539e+05,0.0,6.215458,4.502967,0.031357,0.042089,0.0
min,1.920850e+05,2020.0,0.000000,1.000000,-34.703804,-58.531079,1.0
25%,2.136285e+05,2020.0,9.000000,3.000000,-34.636654,-58.468608,1.0
50%,2.351720e+05,2020.0,14.000000,7.000000,-34.614878,-58.433737,1.0
75%,8.833155e+05,2020.0,18.000000,11.000000,-34.593691,-58.400842,1.0
max,1.114290e+06,2020.0,23.000000,15.000000,-34.530394,-58.343409,1.0

In [ ]:
#open files 2021
df2021= pd.read_csv("delitos_2021.csv")
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111962 entries, 0 to 111961
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id-mapa   111962 non-null  int64
 1   anio      111962 non-null  int64
 2   mes       111962 non-null  object
 3   dia       111962 non-null  object
 4   fecha     111962 non-null  object
 5   franja    110222 non-null  float64
 6   tipo      111962 non-null  object
 7   subtipo   111962 non-null  object
 8   uso_arma  111962 non-null  object
 9   uso_moto  111962 non-null  object
 10  barrio    109378 non-null  object
 11  comuna    109378 non-null  float64
 12  latitud   109383 non-null  float64
 13  longitud  109383 non-null  float64
 14  cantidad  111962 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 12.8+ MB

In [ ]:
#open files 2022
df2022=pd.read_csv("delitos_2022.csv")
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140918 entries, 0 to 140917
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id-mapa   140918 non-null  int64
 1   anio      140918 non-null  int64
 2   mes       140918 non-null  object
 3   dia       140918 non-null  object
 4   fecha     140918 non-null  object
 5   franja    140871 non-null  float64
 6   tipo      140918 non-null  object
 7   subtipo   140918 non-null  object
 8   uso_arma  140918 non-null  object
 9   uso_moto  140918 non-null  object
 10  barrio    138527 non-null  object
 11  comuna    138525 non-null  float64
 12  latitud   138533 non-null  float64
 13  longitud  138533 non-null  float64
 14  cantidad  140918 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 16.1+ MB

In [34]:
#Unificar tablas
df_CABA= pd.concat([df2018,df2019,df2020,df2021,df2022],axis=0)
df_CABA

,id-mapa,anio,mes,dia,fecha,franja,tipo,subtipo,uso_arma,uso_moto,barrio,comuna,latitud,longitud,cantidad
0,500003,2018,AGOSTO,DOMINGO,2018-08-05,16.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
1,500006,2018,AGOSTO,LUNES,2018-08-06,17.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
2,500009,2018,AGOSTO,MIERCOLES,2018-08-08,22.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.580776,-58.387188,1
3,500012,2018,AGOSTO,MIERCOLES,2018-08-08,15.0,Robo,Robo total,NO,NO,RETIRO,1.0,-34.595628,-58.386597,1
4,500015,2018,AGOSTO,VIERNES,2018-08-10,12.0,Robo,Robo total,SI,NO,RETIRO,1.0,-34.581095,-58.385790,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140913,1114494,2022,DICIEMBRE,JUEVES,2022-12-15,19.0,Vialidad,Muertes por siniestros viales,NO,NO,CHACARITA,15.0,-34.585065,-58.459021,1
140914,1114495,2022,DICIEMBRE,VIERNES,2022-12-16,13.0,Vialidad,Muertes por siniestros viales,NO,NO,VELEZ SARSFIELD,10.0,-34.635240,-58.487609,1
140915,1114496,2022,DICIEMBRE,JUEVES,2022-12-22,11.0,Vialidad,Muertes por siniestros viales,NO,NO,VELEZ SARSFIELD,10.0,-34.638974,-58.482881,1
140916,1114497,2022,DICIEMBRE,VIERNES,2022-12-30,18.0,Vialidad,Muertes por siniestros viales,NO,NO,PARQUE AVELLANEDA,9.0,-34.652681,-58.481979,1
140917,1114498,2022,DICIEMBRE,SABADO,2022-12-31,21.0,Vialidad,Muertes por siniestros viales,NO,NO,VILLA SANTA RITA,11.0,-34.610255,-58.482687,1

In [35]:
df_CABA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638034 entries, 0 to 140917
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id-mapa   638034 non-null  int64
 1   anio      638034 non-null  int64
 2   mes       638034 non-null  object
 3   dia       638034 non-null  object
 4   fecha     638034 non-null  object
 5   franja    635716 non-null  float64
 6   tipo      638034 non-null  object
 7   subtipo   638034 non-null  object
 8   uso_arma  638034 non-null  object
 9   uso_moto  638034 non-null  object
 10  barrio    616397 non-null  object
 11  comuna    616395 non-null  float64
 12  latitud   616469 non-null  float64
 13  longitud  616469 non-null  float64
 14  cantidad  638034 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 77.9+ MB